/*  global */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  box-sizing: border-box;
  min-height: 700px;
  min-height: 101vh;
}

.bg--chocolate {
  background: chocolate;
}

.type__color--white {
  color: white;
}

.bold {
  font-weight: bold;
}

.type__letter-spacing--1px {
  letter-spacing: 1px;
}

.padding--1em {
  padding: 1em;
}
